body {
  margin: 0;
  padding: 0;   
  overflow:auto;  
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slide-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#carousel-home {
  padding-top: 50px; 
}

.seccion-titulo-especialidades {
  padding-top: 55px;
  padding-bottom: 40px;
  padding-left: 15px;
  font-weight: bold;
}

.col-md {
  text-align: center;
}

.column-img {
  width: 30%; 
  height: auto; 
}

.especialidades-nombres {
  text-align: center; 
  padding-top: 10px;
  padding-bottom: 30px;
  color: #064f83;
  cursor: pointer;
}

#descarga-catalogo {
  color: #064f83;
  text-align: right;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  cursor: pointer;
}

.seccion-titulo {
  padding-top: 55px;
  padding-left: 15px;
  font-weight: bold;
}

.seccion-descripcion {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.cursos-titulo {
  text-align: center;
  color: #040435;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 15px;
}

.cursos-img {
  width: 90%;
  height: auto;
  border-radius: 2%;
}

.cursos-descripcion {
  padding-top: 20px;
  text-align: center; 
}

.cursos-fechas {
  padding-top: 15px;
  text-align: center; 
}

.cuenta-regresiva {
  padding-top: 15px;
  text-align: center;
}

.descripcion-sobrenosotros {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.aboutus-img {
  width: 80%;
  padding-bottom: 40px;
}

.contacto-subtitulo{
  padding-top: 20px;
  color: #064f83;
}

.contacto-direccion {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.contacto-horario{
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.footer-texto {
  text-align: center;
  color: #e3f2fdc0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ventana-modal {
  background-color: #a4a8ab;
  padding: 30px 50px;
}

.modal-titulo {
  text-align: center;
  font-weight: bold;
}

.evento-img {
  width: 60%;
  height: auto;
  border-radius: 2%;
}

.boton-cantidad {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}

/*.boton-cantidad button {
  font-size: 16px;
  cursor: pointer;
  width: 6%;
  padding-bottom: 1%;
  align-items: center;
  justify-content: center;
  display: flex;
}*/

.boton-cantidad button {
  width: 20px; /* Ajusta el valor según sea necesario */
  padding: 2px 15px 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex; /* Usa flexbox para centrar el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}

.cantidad-evento {
  font-size: 18px;
  margin: 0 10px;
  display: flex; /* Usa flexbox para centrar el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

.boton-reservar{
  padding-top: 3%;
}
